div {border:solid black 4px;}
a:link {color: black;}
footer {position:absolute;bottom:0;}

.purple {color:purple; font-weight: bold;}
legend.blue {color: blue; font-weight:bold;}
a {}
h1 {}
img {width: 100px; height:100px}
label.darker { font-weight:bold;}
fieldset.violet {background-color:violet; border-color: purple;}
fieldset.lightblue {background-color:lightblue; border-color:blue; }

.bg{

  background-image : url("background.jpg");
  background-size : cover;
  background-repeat: no-repeat;

}

#loading {
    -webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


a:link {
  color: white;
}

p{
  color: white;
}

.div{
  position:absolute;
}
.header{
  font-family: arial;
  color: white;
  font-size: 5vw;
  font-weight: bold;
  padding-left: 400px;
  text-shadow: 7px 7px 7px rgb(0,0,0);
}

.inputs{
  background-image: url("starrynight.jpg");
  float : left;
  color:white;
  opacity: 0.8;
  position : absolute;
  top: 0;
  bottom:0;
  left:0;
  padding:10px;
  text-shadow: 7px 7px 7px rgb(0,0,0);
  font-family: georgia;
}

.foot{
  color : black;
}
.earth
{
  position:sticky;
  top:26%;
  bottom:0%;
  left:45%;
  max-width: 400px;
  max-height: 400px;
  min-width: 100px;
  min-height: 100px;
  width:400px;
  height:400px;
  resize:both;
  overflow:auto;
  background-image: url(https://wallpapercave.com/wp/Dq6o3uI.jpg);
  object-fit: scale-down;
  border-radius:50%;
  box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
  animation: spin 30s linear alternate infinite ;
}

@keyframes spin
{
  100%{background-position:100%;}
}
